section {
    min-height: 100%;
    padding-top: 100px;
}
.blog-top-margin {
  margin-top: 90px;
}

.meetups-section {
  background-image: url("https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/8/3/1/f/highres_458973567.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.top-info-block {
  background-color: rgba(0, 0, 0, 0.57);
}
