<section id="aboutus">
  <h2 class="text-center">About us</h2>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h4>Javascript Dojo:Cheltenham is a group to socialise, learn, practice and build with javascript and beyond</h4>

      <p>Is anyone around Cheltenham or nearby areas interested in learning, practicing together, or teaching javascript and other coding languages to others? This is a group for anyone who:  </p>

      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> is learning javascript (and frameworks), other coding languages, and web technologies.</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> is working on some personal project using javascript.</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> who would like to work together on our group projects.</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> would like to go through together with other fellow learners online exercises/programmes such as - Free code camp - Codecademy - Codefights - Codewars</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> is a beginner javascript coder, working through these exercises.</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> is an intermediate or experienced javascript coder who would like to help others.</li>
      </ul>
      <p>Let's meet up and code along with other fellow learners and coders in Cheltenham or nearby areas!</p>
    </div>
    <div class="col-xs-1"></div>
  </div>

</section>
