
  <h2 class="align-center">About us</h2>
  <p class="align-center">Javascript Dojo - Cheltenham is a group to socialise, learn, practice and build with javascript and beyond</p>

  <p>Is anyone around Cheltenham or nearby interested in learning, practicing together, or teaching javascript and other coding languages to others? This is a group for anyone who ...  </p>

  <ul>
    <li>is learning javascript (and frameworks), other coding languages, and web technologies.</li>
    <li>would like to go through together with other fellow learners online exercises/programmes such as - Free code camp - Codecademy - Codefights - Codewars</li>
    <li>is working on some personal project using javascript.</li>
    <li>who would like to work together on our group projects.</li>
    <li>is a beginner javascript coder, working through these exercises.</li>
    <li>is an intermediate or experienced javascript coder who would like to help others.</li>
  </ul>
  <p>Let's meet up and code along with other fellow learners and coders in the Cheltenham or nearby areas!</p>
