
<div class="m-4">
  <h2>Contact</h2>
  <div class="row">
      <div class="col-md-4" >
      </div>
    <div class="col-md-4" >
      Please visit our Meetup page to contact the group
    </div>

<div class="clearfix"></div>
    <div class="row">

        <div class="col-md-4" >

        </div>
      <div class="col-md-4" >

        <a href="https://www.meetup.com/JavaScript-Dojo-Cheltenham/events/238714226/" class="btn-link btn-md" role="button">JavaScript Dojo - Cheltenham</a>

      </div>


  </div>
  <div class="clearfix"></div>
  <div class="row">

<div class="col-md-4" >

</div>
    <div class="col-md-4" >

  <div id="map"></div>
  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhDRvWh0Khr0A2xdup-60RIdTR4eOWpJU&callback=initMap">
  </script>
    </div>


  </div>


</div>
