<section id="contact">
  <div class="text-center">
    <h2>Contact</h2>
    <div class="row">
      <div class="col-sm-1" >
      </div>
      <div class="col-sm-10" >
        <p>Please visit our Meetup page to contact the group</p>
        <a href="https://www.meetup.com/JavaScript-Dojo-Cheltenham/events/238714226/" class="btn-link btn-md" role="button">JavaScript Dojo - Cheltenham</a>
        <div id="map"></div>
          <!-- Replace the value of the key parameter with your own API key. -->
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhDRvWh0Khr0A2xdup-60RIdTR4eOWpJU&callback=initMap">
          </script>
      </div>

      <div class="col-sm-1" >
      </div>

    </div>
  </div>

</section>
